In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# Specify the path to your CSV file
file_path = r'R:\ML\ML nd Dl by codebasics\csv\homeprices.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
df.area.ndim

1

In [4]:
new_df = df.drop('price',axis='columns')
new_df.ndim

2